*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif, "微軟正黑體";
}

table th,
table td {
  white-space: nowrap;
}

.title-color {
  color: #5b5b5b;
}
